.key {
  background-color: #424242;
  border: 1px solid #424242;
  color: white;
  font-size: 2em;
  font-weight: 300;
}

.operator {
  background-color: #606061;
  border: 1px solid #606061;
  color: white;
  font-weight: 300;
}